.gcp-recommendations-section {
    --mdc-theme-secondary:white;
    --mdc-theme-on-secondary:rgb(141, 208, 227);
    background:rgb(239, 239, 239);
}

.recs-scrolling-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.recs-scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.recs-product-sect {
    display: inline-block;
}

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

.recs-title {font-family: Quicksand, sans-serif; font-size:1.2rem; letter-spacing: 0.15em; font-weight:250;}
.product-title {font-family: Quicksand, sans-serif; font-size:0.75rem; letter-spacing: 0.15em; font-weight:250; line-height: 8pt;} /*1rem = 16px*/
.product-price {font-family: Quicksand, sans-serif; font-size:0.75rem; color: rgb(140,140,140); letter-spacing: 0.1em; font-weight:200; line-height: 8pt;} /*1rem = 16px*/
.pre-title-div {height:45px}
.post-title-div {height:30px}
.post-image-div {height:30px}
.post-carousel-div {height:45px}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .recs-title {font-size:1.2rem;} /*1rem = 16px*/
    .product-title {font-size:0.85rem;} /*1rem = 16px*/
    .product-price {font-size:0.85rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .recs-title {font-size:1.2rem;} /*1rem = 16px*/
    .product-title {font-size:0.85rem;} /*1rem = 16px*/
    .product-price {font-size:0.85rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .recs-title {font-size:1.2rem;} /*1rem = 16px*/
    .product-title {font-size:0.85rem;} /*1rem = 16px*/
    .product-price {font-size:0.85rem;} /*1rem = 16px*/
    .pre-title-div {height:50px}
    .post-title-div {height:50px}
    .post-carousel-div {height:60px}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .recs-title {font-size:1.2rem;} /*1rem = 16px*/
    .product-title {font-size:0.85rem; } /*1rem = 16px*/
    .product-price {font-size:0.85rem;} /*1rem = 16px*/ 
}

